@using lib_blazor.Model
@inject NavigationManager Navigation

<div class="card shadow d-flex flex-row">
    <img src="@Book.CoverImageUrl" alt="Book Cover" class="card-img-left img-fluid" style="max-width: 150px;" />
    <div class="card-body">
        <h5 class="card-title" @onclick="NavigateToDetails">@Book.Title</h5>
        <p class="card-text">@Book.Author</p>
        <p class="card-text">@Book.Publisher</p>
        <p class="card-text">@Book.Language</p>
        <p class="card-text">@Book.Isbn</p>
        <a href="javascript:void(0);" class="btn btn-primary" @onclick="NavigateToDetails">View Details</a>
    </div>
</div>


@code {

    [Parameter]
    public required Book Book { get; set; }

    private void NavigateToDetails()
    {
        Navigation.NavigateTo($"books/{Book.Id}");
    }

}